@import "tailwindcss";

html {
	-webkit-user-scalable: no;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #f8fafc;
	color: #1e293b;
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: auto;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

input,
textarea,
select,
button {
	font-size: 16px;
	-webkit-appearance: none;
	-webkit-appearance: textfield;
}

input:focus,
textarea:focus,
select:focus {
	font-size: 16px;
}
